<footer class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <a href="http://audreyli.me">  &copy; Copyright 2015 &nbsp; &nbsp; AudreyLi.me &nbsp; &nbsp;</a> 
       
        <a href="/archives">Archives &nbsp; &nbsp; </a>
        <a href="https://github.com/vidaaudrey" title="Audrey's Github">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    
        <a href="https://www.linkedin.com/in/audreyauli" title="Audrey's Google Plus">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        
        <a href="{{ "/feed.xml" }}" title="RSS Feed">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
    
</footer>
