/* 
The main SCSS file for everything, yep
*/
.highlight {
  background-color: #FBFBFB;
  border: 1px solid #E1DDDD;
  padding: 16px;
  padding-bottom: 0; }

.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999; }

@keyframes logoDisappear {
  0% {
    width: 90px;
    height: 90px; }
  100% {
    width: 50%;
    height: 50%; } }

@keyframes logoAppear {
  0% {
    width: 50%;
    height: 50%; }
  100% {
    width: 90px;
    height: 90px; } }

@keyframes pulse {
  0% {
    background-color: #001F3F; }
  100% {
    background-color: #FF4136; } }

* {
  box-shadow: none; }

html {
  font-size: 14px; }

body {
  margin: 0;
  padding-top: 180px;
  font-family: "RobotoDraft","Roboto",sans-serif;
  color: #666;
  font-size: 1.1rem;
  background: #fff url("/assets/images/furley_bg.png") 0 0 repeat; }

a {
  color: #4CA550;
  text-decoration: none;
  font-weight: 300; }
  a:hover, a:focus {
    color: #388E3C;
    text-decoration: none; }

h2 a {
  line-height: 1.1em; }

ul li {
  margin-bottom: 5px; }

#push_sidebar {
  background: #000;
  bottom: 0;
  color: #212121;
  z-index: 100;
  left: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  padding-top: 30px;
  width: 30%;
  transition: all .5s ease; }
  #push_sidebar .social-icons {
    width: 100%;
    min-height: 100px;
    padding: 0 10px 20px 10px;
    text-align: center; }
    #push_sidebar .social-icons .img-circle {
      width: 100%;
      height: 100%;
      padding: 10%; }
    #push_sidebar .social-icons a {
      color: #2B2A2A; }
    #push_sidebar .social-icons .fa-circle:hover {
      color: #2B2A2A;
      cursor: pointer;
      font-size: 1.1rem; }
    #push_sidebar .social-icons .fa-inverse:hover {
      cursor: pointer;
      color: #FFF;
      font-size: 1.1rem; }
  #push_sidebar ul {
    padding: 0; }
    #push_sidebar ul li a {
      padding: 10px 15px 10px 20px;
      display: block;
      font-weight: 400;
      background: #000;
      color: #F3F3F3;
      text-decoration: none;
      text-align: center; }
      #push_sidebar ul li a:hover {
        background-color: #2B2A2A;
        color: #FFF; }
      #push_sidebar ul li a .fa {
        font-size: 19px;
        float: right;
        width: 30px;
        text-align: center;
        margin-left: 5px; }

#body-wrap {
  overflow: hidden;
  margin-top: -180px;
  width: 100%;
  transition: all .5s ease; }
  #body-wrap header {
    z-index: 2;
    height: 180px;
    position: fixed;
    top: 0;
    transition: all .5s ease;
    width: 100%;
    overflow: hidden; }
    #body-wrap header .container-fluid {
      padding: 15px; }
    #body-wrap header .navbar-brand {
      width: 120px;
      height: 120px;
      display: block;
      float: left; }
      #body-wrap header .navbar-brand img {
        width: 100%;
        height: 100%;
        animation: logoAppear 1s; }
    #body-wrap header .nav_trigger {
      cursor: pointer;
      display: inline-block;
      font-size: 26px;
      padding: 15px;
      float: right;
      color: #000; }
    #body-wrap header.nav-up {
      top: -180px; }
  #body-wrap main {
    min-height: 1000px;
    transition: all .5s ease; }
    #body-wrap main .main-wrap {
      max-width: 770px;
      margin: 0 auto; }
      #body-wrap main .main-wrap .about {
        padding: 5px;
        margin-bottom: 50px; }
      #body-wrap main .main-wrap .card {
        background: #FFF;
        padding: 30px;
        margin: 10px auto;
        float: left;
        width: 100%; }

.show_sidebar #push_sidebar {
  left: 70%; }

.show_sidebar #body-wrap, .show_sidebar #body-wrap > header {
  margin-right: 30%;
  width: 70%; }

@media (max-width: 767px) {
  #push_sidebar {
    width: 70%; }
  .jumbotron {
    background-attachment: scroll; }
  .show_sidebar #push_sidebar {
    left: 30%; }
  .show_sidebar #body-wrap, .show_sidebar #body-wrap > header {
    margin-right: 70%;
    width: 30%; }
    .show_sidebar #body-wrap .navbar-brand, .show_sidebar #body-wrap > header .navbar-brand {
      width: 100%;
      height: auto;
      max-height: 100px;
      padding: 0; }
      .show_sidebar #body-wrap .navbar-brand img, .show_sidebar #body-wrap > header .navbar-brand img {
        animation: logoDisappear 1s;
        width: 50%;
        height: 50%;
        margin: 0 auto; }
    .show_sidebar #body-wrap .nav_trigger, .show_sidebar #body-wrap > header .nav_trigger {
      width: 100%;
      text-align: center; }
  .show_sidebar main, .show_sidebar .jumbotron, .show_sidebar footer {
    min-width: 400px; } }

@media (min-width: 992px) {
  #push_sidebar {
    width: 20%; }
  .show_sidebar #push_sidebar {
    left: 80%; }
  .show_sidebar #body-wrap, .show_sidebar #body-wrap > header {
    margin-right: 20%;
    width: 80%; } }

.jumbotron {
  text-align: center;
  height: 800px;
  padding-top: 180px;
  width: 110%;
  color: white; }
  .jumbotron .container {
    width: 100%;
    float: left; }
  .jumbotron .fullwidth-wrapper {
    width: 91%;
    overflow: hidden; }
  .jumbotron .main-wrap {
    max-width: 770px;
    margin: 0 auto; }
  .jumbotron.jumbotron-home {
    background: url("/assets/images/home-default-bg-compressor.jpeg") no-repeat center center fixed;
    background-size: cover; }
    .jumbotron.jumbotron-home .container p, .jumbotron.jumbotron-home .container h1 {
      margin-right: 10%; }
  .jumbotron.jumbotron-page {
    position: relative; }
    .jumbotron.jumbotron-page .container {
      position: absolute;
      bottom: 0;
      padding: 30px 0 15px 0;
      background: transparent;
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6)); }
  .jumbotron.jumbotron-page-plain {
    background: url("/assets/images/page-default-bg-compressor.jpg") no-repeat center center fixed;
    position: relative;
    min-height: 400px; }
    .jumbotron.jumbotron-page-plain .container {
      position: absolute;
      bottom: 0;
      padding: 30px 0 15px 0;
      background: transparent;
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6)); }
  .jumbotron.jumbotron-post {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; }
    .jumbotron.jumbotron-post .fullwidth-wrapper {
      position: absolute;
      bottom: 0;
      padding: 30px 0 15px 0;
      background: transparent;
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6)); }
  .jumbotron.jumbotron-post-long-feature {
    position: relative;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 800px; }
    .jumbotron.jumbotron-post-long-feature .fullwidth-wrapper {
      position: absolute;
      bottom: 0;
      padding: 30px 0 15px 0;
      background: transparent;
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6)); }
  .jumbotron.jumbotron-post-plain {
    background: url("/assets/images/post-default-bg-compressor.jpg") no-repeat center center scroll;
    position: relative; }
    .jumbotron.jumbotron-post-plain .fullwidth-wrapper {
      position: absolute;
      bottom: 0;
      padding: 30px 0 15px 0;
      background: transparent;
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6)); }

.posts .post {
  padding-bottom: 50px; }
  .posts .post .feature-thumb {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin: 10px 0; }
    .posts .post .feature-thumb img {
      width: 100%;
      height: auto; }
  .posts .post .photo-long {
    text-align: center;
    background-color: #F3F3F3;
    max-height: 450px; }
    .posts .post .photo-long img {
      width: auto;
      height: 100%; }

.post .post-title {
  margin: 0;
  margin-bottom: 16px; }

.post.post-content a {
  border-bottom: 1px dotted #B6B6B6; }
  .post.post-content a:hover {
    border-bottom: 1px dotted #388E3C; }

.post.post-content .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .post.post-content .gallery div.col-1 {
    width: 100%; }
  .post.post-content .gallery div.col-2 {
    width: 49%;
    width: calc(50% - .5rem); }
  .post.post-content .gallery div.col-3 {
    width: 32%;
    width: calc(33.33333% - .66667rem); }

.post p a img {
  max-width: 100%;
  height: auto; }

.post a img {
  width: 100%;
  height: auto;
  border: 1px solid #B6B6B6; }

.post-content a[data-fluidbox] {
  background-color: #eee;
  border: none;
  cursor: -moz-zoom-in;
  margin-bottom: 1.5rem; }
  .post-content a[data-fluidbox] .fluidbox-opened {
    cursor: -moz-zoom-out; }
  .post-content a[data-fluidbox] img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    max-width: 100%;
    transition: all .25s ease-in-out; }

.post-content a[class^='float'] {
  margin: 1rem;
  margin-top: 0;
  width: 33.33333%; }

.post-content a .float-left {
  float: left;
  margin-left: 0; }

.post-content a .float-right {
  float: right;
  margin-right: 0; }

.post-content .fluidbox-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -moz-zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500; }

.post-content .fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out; }

.post-content .fluidbox-opened .fluidbox-wrap {
  z-index: 600; }

.post-content .fluidbox-loader {
  display: none; }

.post-content .fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out; }

span.post-date {
  float: right;
  font-style: italic;
  color: #B6B6B6;
  font-weight: 300;
  font-size: 0.9rem; }

footer {
  padding: 20px;
  text-align: center; }
  footer a {
    color: #B6B6B6; }
  footer:hover, footer :focus {
    text-decoration: none; }

.pagination {
  text-align: center;
  width: 100%; }

.page-nav {
  width: 100%;
  height: auto;
  min-height: 20px;
  vertical-align: middle;
  padding-bottom: 40px; }
  .page-nav div {
    width: 50%;
    min-height: 100%;
    float: left; }
    .page-nav div a {
      max-height: 50px;
      display: block;
      float: left;
      overflow: hidden;
      font-size: 1.1rem;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      .page-nav div a:first-child {
        width: 10%;
        margin-right: 2%;
        line-height: 40px;
        text-align: left; }
      .page-nav div a:last-child {
        width: 80%;
        margin-left: 2%; }
  .page-nav div:last-child a:first-child {
    width: 80%;
    margin-right: 2%;
    text-align: right;
    line-height: 20px; }
  .page-nav div:last-child a:last-child {
    line-height: 40px;
    width: 10%;
    margin-left: 2%;
    text-align: right; }

#wuf-adv {
  display: none !important; }

/* Related posts */
.related .related-posts {
  padding-left: 0;
  list-style: none; }
  .related .related-posts h3 {
    margin-top: 0; }
  .related .related-posts li small {
    font-style: italic;
    font-weight: 300;
    font-size: 75%;
    color: #B6B6B6; }
  .related .related-posts li a:hover {
    color: #388E3C;
    text-decoration: none; }
    .related .related-posts li a:hover small {
      color: inherit; }

/*# sourceMappingURL=style.css.map */
